<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <meta charset="UTF-8">              
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site_title }}</title>

        <meta content="{{ site_title }}" property="og:title">
        <meta content="{{ site_description }}" property="og:description">
        <meta content="sata-andagi.moe" property="og:site_name">
        <meta name="theme-color" content="#ffcb00">     
        <meta property="og:video" content="https://chiyo.sata-andagi.moe/sata-andagi.mp4"/>
        <meta property="og:video:secure_url" content="https://chiyo.sata-andagi.moe/sata-andagi.mp4"/>
        <meta property="og:image" content="https://chiyo.sata-andagi.moe/sata-andagi.mp4" />
        <meta property="og:image:secure_url" content="https://chiyo.sata-andagi.moe/sata-andagi.mp4" />
        <meta property="og:video:type" content="video/mp4"/>
        <meta property="og:video:width" content="1920" />
        <meta property="og:video:height" content="1080" />

        <link rel="stylesheet" href="./output.css">

        {% endblock %}
    </head>

    {% block body %}
    {% endblock %}

</html> 